.diary-container {
    text-align: center;
    width: 50%;
}

.summary-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px;
    text-align: center;
    align-self: center;
    position: relative;
}

.diary-content {
    background: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 2px;
    width: 500px;
    display: inline-block;
    margin-top: 30px;
    vertical-align: middle;
    position: relative;
    padding: 35px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.child_div_1 {
    width: 1200px;
    height: 900px;
}

.parent_div_2 {
    float: right;
}

.bottom_diary_background {
    background-image: url(../img/background/bottom_diary_background.jpg);
}

.top_diary_background {
    background-image: url(../img/background/top_diary_background.jpg);
}

.main_diary_card {
    display: inline-block;
    border: 2px solid #856404;
    width: auto;
    margin: 50px;

    background: #fe7500;
    background: -webkit-linear-gradient(to right, #eac82d, #fe7500);
    background: linear-gradient(to right, #eac82d, #fe7500);
    background-repeat: no-repeat;
}

.datepicker_card_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.datepicker-container {
    margin: 5px;
    /*display: flex;*/
    /*justify-content: center;*/
}

.card-container {
    padding: 50px;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.diary_data_table {
    display: flex;
    align-self: center;
}

.react-datepicker {
    font-size: 1.3rem !important;
}

.react-datepicker__current-month {
    font-size: 1.5rem !important;
}

.react-datepicker__header {
    padding-top: 6px !important;
}

.react-datepicker__navigation {
    top: 13px !important;
}

.react-datepicker__day-name, .react-datepicker__day {
    margin: 0.5rem !important;
}