.site-statistic-demo-card {
    background: #ececec;
    padding: 20px;
    position: relative;
    border: 2px solid #000000;
    flex-flow: wrap;
    margin: 5px;
    /* width: 50%; */
}

.cards_list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}