.start-container {
    text-align: center;
}


.start-content {
    background: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 2px;
    width: 500px;
    display: inline-block;
    margin-top: 30px;
    vertical-align: middle;
    position: relative;
    padding: 35px;
    text-align: center;
    margin-left: 70px;
}

.social-btn {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
}

.social-btn img {
    height: 32px;
    float: left;
    margin-top: 10px;
}

.social-btn.google {
    margin-top: 7px;
}

.social-btn.facebook img {
    height: 24px;
    margin-left: 3px;
}

.social-btn.github img {
    height: 24px;
    margin-left: 3px;
}

.signup-link {
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
}

.start-title {
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.65);
}
img {
    max-width: 100%;
    max-height: 100%;
}

.parent_div_1{
    float: left;

}
.child_div_1 {
    width: 600px;
    height: 900px;
}
.child_div_2 {
    height: 900px;
}
.container  {
    text-align: center;
}
.field {
    margin-bottom: 30px;
}
.dateContainer {
    width: 430px;
}

.block {
    display: inline-block;
    width: 143px;
}

.pad {
    padding-right: 20px;
}

.container2 {
    text-align: center;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}